<div *ngIf="customer">
    <h2>{{customer.name}}</h2>
    <div class="row">
        <span class="label">Id</span>
        <span class="field static">{{customer.id}}</span>
    </div>
    <div class="row">
        <label class="label" for="customer-name">Name</label>
        <input id="customer-name" class="field" [disabled]="!editing" [(ngModel)]="customer.name" placeholder="name">
    </div>
</div>
<div class="row">
    <app-button class="danger" type="button" label="x" (onClick)="delete()"></app-button>
    <app-button *ngIf="!editing" class="cancel" type="button" label="back" (onClick)="goBack()"></app-button>
    <app-button *ngIf="!editing" class="primary" type="button" label="edit" (onClick)="edit()"></app-button>
    <app-button *ngIf="editing" class="cancel" type="button" label="cancel" (onClick)="cancel()"></app-button>
    <app-button *ngIf="editing" class="primary" type="button" label="save" [isDisabled]="(customer === undefined || customer.name === '')" (onClick)="save()"></app-button>
</div>



